<style>
.parallax { 
    /* The image used */
    background-image: url("https://github.com/rubensanchezramirez/esm_244_shiny/raw/master/www/montana_fire_background.jpg");

    /* Set a specific height */
    height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.myimg{
    width: 80%;
    color: red;
    position: center;
    top: 150px;
    left: 45%;
}
</style>

<!-- Container element -->
<div class="parallax">
    <a href="https://github.com/holtzy/R-Markdown-Parallax"> <img class="myimg" src="https://github.com/rubensanchezramirez/esm_244_shiny/raw/master/www/montana_fire_letters.png"> </a>
</div>

<html>

<head>
<title>Title</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
